input[type="text"]
{
  color:blue;
  direction: rtl;
  text-align: center;

}
input[type="email"]
{
    background-color: rgb(92, 205, 205);
    cursor: progress;
}
input[type="number"]
{
    text-align: right;
}
input[type="button"]
{
    cursor:grabbing;
}